{%- comment -%}
  Standings table inside a scrolling card. PF and PA only show from 900 px up
  (class "col-wide"). Lists every team in the standings.
  Usage: include standings-table.html standings=stats.standings
{%- endcomment -%}
<div class="table-card">
  <table class="table standings">
    <caption class="visually-hidden">Regular season standings</caption>
    <thead>
      <tr>
        <th scope="col">Team</th>
        <th scope="col"><abbr title="Wins">W</abbr></th>
        <th scope="col"><abbr title="Losses">L</abbr></th>
        <th scope="col"><abbr title="Win percentage">PCT</abbr></th>
        <th scope="col"><abbr title="Games behind">GB</abbr></th>
        <th scope="col" class="col-wide"><abbr title="Points for">PF</abbr></th>
        <th scope="col" class="col-wide"><abbr title="Points against">PA</abbr></th>
        <th scope="col"><abbr title="Point differential">DIFF</abbr></th>
      </tr>
    </thead>
    <tbody>
      {%- for t in include.standings.teams %}
      <tr>
        <th scope="row"><span class="standings__rank">{{ t.rank }}</span><span class="chip chip--{{ t.colour_slot }}" aria-hidden="true"></span>{{ t.name }}</th>
        <td>{{ t.w }}</td>
        <td>{{ t.l }}</td>
        <td>{{ t.pct }}</td>
        <td>{{ t.gb_display }}</td>
        <td class="col-wide">{{ t.pf }}</td>
        <td class="col-wide">{{ t.pa }}</td>
        <td class="standings__diff">{{ t.diff_display }}</td>
      </tr>
      {%- endfor %}
    </tbody>
  </table>
</div>
